@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/image/bg.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 644px;
  position: relative;
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 10;
  position: relative;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

i {
  margin-right: 5px;
}

nav button {
  position: relative;
  z-index: 10;
}
.test {
  display: flex;
  color: white;
}
.language__drop__down {
  background: transparent;
  border: none;
  color: white;
}

.language__drop__down:focus {
  outline: none;
}

.language__drop__down option {
  background-color: rgb(254, 254, 254);
}

.dropdown__container {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 10;
}

.btn {
  padding: 9px 24px;
  font-size: 14px;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 5px;
  border: 1px solid white;
  margin-left: 10px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  font-size: 21px;
  border-radius: 4px;
  font-weight: 400;
  border: none;
}

.btn-red-sm {
  padding: 9px 23px;
  font-size: 14px;
  font-weight: 800;
  background-color: red;
  color: white;
  border: none;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main input {
  padding: 12px 60px 18px 28px;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.FAQ__accordian {
  width: 60%;
}
.FAQ__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
}

.FAQ__visible {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  color: white;
  transition: max-height 0.5s ease-in-out;
}

.FAQ__visible > p {
  margin: 1rem;
}
.FAQ__list__container {
  border-top: 8px solid #222;
  padding: 2rem 0;
}
.FAQ__heading {
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 3rem;
}

.FAQ__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer {
  border-top: 8px solid #333;
  padding: 2rem 1rem;
  color: #757575;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer p {
  text-decoration: underline;
}
.footer__row__2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer__row__1 > h4 {
  font-size: 15px;
  font-weight: 500;
}

.footer__row__3 > .dropdown__container {
  width: fit-content;
  border: 1px solid #757575;
  color: #757575;
}

.footer__row__3 > .dropdown__container > .language__drop__down {
  color: #757575;
}

@media (max-width: 635px) {
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 6px;
    padding-left: 7px;
  }
  .main input {
    padding: 9px 11px 11px 12px;
    color: white;
    font-size: 12px;
  }
  .btn-red {
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
  }
}
@media (min-width: 1024px) {
  footer {
    padding: 2rem 20rem;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

  .footer__row__2 {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .footer__row__1,
  .footer__row__3,
  .footer__row__4 {
    align-self: flex-start;
  }
}

@media (min-width: 1254px) {
}
@media screen and (max-width: 900px) {
  nav {
    max-width: 90vw;
  }
  nav img {
    width: 5.5625rem;
    height: 1.5rem;
  }
  .btn {
    padding: 4px 5px;
  }
  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }
}
